// Адаптивная верстка //
@media (max-width:1000px) {
  .container {/*width:600px*/}
}



@media (max-width:649px) {
  .container {/*width:400px*/}
}



@media (max-width:479px) {
  .container {/*width:90%*/}
}
// Адаптивная верстка //





$blue: #62a3da;
@media (max-width:1230px) {
    .container {width: 655px}
    .header {
        .container{width: 750px}
        height: 160px;
        &__social {display: none}
        &__top{
            &__left__item__border:after {display: none}
            &__left__item+&__left__item{margin-left: 30px}
            .cols {text-align: center}
        }
        &__bottom{
            text-align: center;
            &__logo {padding-top: 15px}
            &__banners {display: none}
            &__button-menu {display: block}
            &__button-search {display: block}
        }
    }
    .menu{
        .container{width: 750px}
        margin: 0;
        &__button{
        width: 150px; 
        border: none;
            &:hover{
                border: none;
                border-bottom: 5px solid $blue;
                background: #fff;
                box-shadow: none;
                color: $blue;
            }
        }
    }
    .filters{
        &__block {width: 100%;}
        &__select {width: 100%;}
    }
    .aboutus__content{
        &__image {width: 100%; height: 340px; overflow: hidden}
        &__text {
            width: 100%; 
            margin-top: 20px;
        }
        &__text p {text-align: center}
    }
    .feedback{
        height: 230px;
        &__container{text-align: center; padding: 53px 0}
        &__text{display: block; margin-bottom: 33px;}
    }
    .services{
        &__block{
            &__content {text-align: center;}
            width: 100%;
            &+&{margin-top: 30px}
        }
    }
    .news{
        &__block{
            width: 100%;
            &+&{margin-top: 30px}
            img{height: 250px}
            &__image{
                height: 250px;
                overflow: hidden;
            }
        }
    }
    .page-404{
        background: none;
        &__container{
            flex-direction: column;
            align-items: flex-start;
            color: #61a2da;
            text-align: center;
        }
        &__left, &__right{
            justify-content: center;
            width: 100%;
            h1, h2{
                text-align: center;
            }
            h2{
                font-size: 57px;
                display: inline-block;
                span{
                    font-size: 57px;
                    display: inline-block;
                }
            }
        }
        &__right{
            margin: 0;
            &__adaptive{
            }
        }
    }
    .footer{
        &__container{
            justify-content: center;
            flex-direction: column;
        }
        &__topcol{
            width: 100%;
            justify-content: center;
            &__right{
                margin-top: 35px;
                text-align: center;
            }
        }
        &__map{
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        &__social{
            text-align: center;
        }
        &__bottom{
            padding: 60px 0;
        }
        &__menu{
            display: none;
        }
        &__bottomcol{
            width: 100%;
            justify-content: center;
            flex-direction: column;
        }
    }

}


@media (max-width:769px) {
    .container {max-width: 450px}
    .header{
        .container{width: 480px}
        .header__top__left__item:not(:first-child){display: none}
    }
    .header{
        &__top{
            .container{width: 480px}
        }
    }
    .menu{display: none}
    .page-404{
         &__left, &__right{
            h1, h2{
                text-align: center;
            }
             h1{
                 font-size: 200px;
             }
            h2{
                font-size: 57px;
                display: inline-block;
                span{
                    font-size: 57px;
                    display: inline-block;
                }
            }
        }
    }
}
