@media (max-width: 1230px) {
  .container {
    width: 655px; }
  .header {
    height: 160px; }
    .header .container {
      width: 750px; }
    .header__social {
      display: none; }
    .header__top__left__item + .header__top__left__item {
      margin-left: 66px; }
    .header__top__left__item:first-child {
      margin-left: 15px; }
    .header__top__left__item:last-child {
      margin-left: 45px; }
    .header__top__left__item p {
      font-size: 13px; }
    .header__top__left__item img {
      margin-right: 15px; }
    .header__top__left__item__border:after {
      display: none; }
    .header__top .cols {
      text-align: left; }
    .header__bottom {
      text-align: center; }
      .header__bottom__logo {
        padding-top: 20px; }
        .header__bottom__logo img {
          width: 270px; }
      .header__bottom__banners {
        display: none; }
      .header__bottom__button-menu {
        display: block; }
      .header__bottom__button-search {
        display: block; }
  .menu {
    margin: 0; }
    .menu .container {
      width: 750px; }
    .menu__button {
      min-width: 150px;
      height: 50px;
      padding: 15px 11px;
      font-size: 16px;
      border: none; }
      .menu__button:hover {
        border: none;
        border-bottom: 5px solid #62a3da;
        background: #fff;
        box-shadow: none;
        color: #62a3da; }
  .post__container {
    text-align: center; }
  .post__title {
    height: 120px; }
  .post__content__text {
    padding-bottom: 60px; }
  .post__bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center; }
    .post__bottom__text {
      display: none !important; }
  .post__social li a {
    width: 50px;
    height: 50px; }
  .post__container {
    text-align: center; }
  .post__title {
    height: 120px; }
  .search {
    height: 120px; }
    .search__form {
      margin-top: 30px; }
    .search__input {
      font-size: 16px;
      height: 60px;
      padding: 0 55px 0 29px; }
    .search__button {
      background: url("../img/search-button.png");
      top: 15px;
      right: 16px;
      width: 30px;
      height: 30px; }
  .filters {
    padding: 30px 0 60px;
    background: #fff; }
    .filters__bg {
      display: none; }
    .filters__block {
      width: 100%;
      margin-bottom: 30px; }
    .filters__select {
      width: 100%;
      height: 60px;
      padding: 16px 50px 16px 30px; }
      .filters__select__title {
        font-size: 18px; }
    .filters__select__button {
      background: url("../img/filters-button-big.png");
      top: 15px;
      right: 15px;
      width: 30px;
      height: 30px; }
    .filters__container {
      top: 60px; }
    .filters__show-button {
      margin-top: 60px; }
    .filters .button {
      min-width: 280px;
      font-size: 16px;
      height: 50px;
      padding: 12px 11px;
      background-color: #62a3da;
      border-color: #62a3da;
      color: #fff; }
  .aboutus {
    background: #fff; }
    .aboutus__title {
      order: 2;
      margin-top: 24px;
      margin-bottom: 23px; }
    .aboutus__content {
      margin-bottom: 64px; }
      .aboutus__content__image {
        width: 100%;
        height: 340px;
        overflow: hidden;
        order: 1; }
        .aboutus__content__image .img-1 {
          display: none; }
        .aboutus__content__image .img-2 {
          display: block; }
      .aboutus__content__text {
        width: 100%;
        margin-top: 20px;
        order: 3;
        margin-top: 0; }
      .aboutus__content__text p {
        text-align: center;
        font-size: 16px;
        line-height: 1.6; }
    .aboutus .aboutus__advantages__block.four-col {
      width: 27.6%; }
    .aboutus .aboutus__advantages__block__title {
      margin-top: 27px; }
  .feedback {
    height: 230px; }
    .feedback__container {
      flex-direction: column;
      align-items: center;
      height: 57%; }
    .feedback__button {
      margin: 0;
      margin-top: 30px; }
    .feedback .button {
      min-width: 280px;
      font-size: 16px;
      height: 50px;
      padding: 12px 11px;
      border-color: #fff;
      color: #fff; }
  .services {
    background: #fff; }
    .services__title {
      margin-bottom: 60px; }
    .services__block {
      width: 100%;
      min-height: 360px; }
      .services__block__title {
        font-size: 18px;
        padding: 18px 0; }
      .services__block__content p {
        text-align: center;
        font-size: 16px;
        line-height: 1.5; }
      .services__block__content {
        padding: 25px 30px 90px 30px; }
      .services__block__bottom {
        bottom: 29px; }
      .services__block + .services__block {
        margin-top: 30px; }
      .services__block .button {
        min-width: 280px;
        font-size: 16px;
        height: 50px;
        padding: 12px 11px;
        background-color: #62a3da;
        border-color: #62a3da;
        color: #fff; }
  .news__block {
    width: 100%; }
    .news__block__title {
      font-size: 24px;
      padding-top: 0px;
      margin-bottom: 24px; }
    .news__block + .news__block {
      margin-top: 63px; }
    .news__block img {
      height: 250px; }
    .news__block__image {
      height: 250px;
      overflow: hidden;
      margin-bottom: 30px; }
    .news__block__text {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 23px; }
    .news__block__readmore {
      font-size: 16px; }
  .news .button {
    min-width: 280px;
    font-size: 16px;
    height: 50px;
    padding: 12px 11px;
    background-color: #62a3da;
    border-color: #62a3da;
    color: #fff; }
  .page-404 {
    background: none; }
    .page-404__container {
      flex-direction: column;
      align-items: flex-start;
      color: #61a2da;
      text-align: center; }
    .page-404__left, .page-404__right {
      justify-content: center;
      width: 100%; }
      .page-404__left h1, .page-404__left h2, .page-404__right h1, .page-404__right h2 {
        text-align: center; }
      .page-404__left h2, .page-404__right h2 {
        font-size: 57px;
        display: inline-block; }
        .page-404__left h2 span, .page-404__right h2 span {
          font-size: 57px;
          display: inline-block; }
    .page-404__right {
      margin: 0; }
  .footer__container {
    justify-content: center;
    flex-direction: column; }
  .footer__topcol {
    width: 100%;
    justify-content: center; }
    .footer__topcol__right {
      margin-top: 35px;
      text-align: center; }
  .footer__map {
    overflow: hidden; }
    .footer__map img {
      width: 100%; }
  .footer__social {
    text-align: center; }
  .footer__bottom {
    padding: 60px 0; }
  .footer__menu {
    display: none; }
  .footer__bottomcol {
    width: 100%;
    justify-content: center;
    flex-direction: column; }
  .sell .container {
    overflow: auto; }
  .sell__header {
    width: 100%;
    padding: 0; }
  .sell__form button {
    font-size: 14px;
    cursor: pointer; }
  .sell__form__col {
    width: 100%; }
    .sell__form__col__no-required {
      display: none; }
  .sell__form__tab-nav {
    display: flex;
    width: 150%;
    justify-content: center;
    border-bottom: 1px solid #e0e1e4;
    margin-bottom: 40px; }
    .sell__form__tab-nav button {
      padding: 18px 60px;
      display: inline-block;
      border-top: 1px solid #e0e1e4;
      border-right: 1px solid #e0e1e4;
      border-left: 1px solid #e0e1e4;
      border-radius: 2px;
      margin-left: 2px; }
    .sell__form__tab-nav button.no-active {
      background: #eee;
      border: none; }
  .company__content__footer {
    display: flex;
    justify-content: space-between; }
    .company__content__footer a {
      margin: 0;
      margin-bottom: 40px; }
  .company__header {
    padding: 0 30px; }
  .company__table div {
    justify-content: space-between; }
    .company__table div span {
      width: 45%; }
    .company__table div p {
      width: 45%; } }

@media (max-width: 769px) {
  .container {
    width: 450px; }
  .header {
    height: 154px; }
    .header .container {
      width: 480px; }
    .header .header__top__left__item:not(:first-child) {
      display: none; }
  .header__top .container {
    width: 480px; }
  .header__top .container.cols {
    text-align: left; }
  .header__bottom .container {
    width: 480px; }
  .header__bottom__logo {
    padding-top: 25px; }
    .header__bottom__logo img {
      width: 210px; }
  .header__bottom__button-menu {
    left: 15px; }
  .header__bottom__button-search {
    right: 15px;
    top: 40px; }
  .menu {
    display: none; }
  .filters__select {
    padding: 15px 9px 16px 19px; }
  .filters__container {
    width: 450px; }
  .aboutus__content__image {
    height: 200px; }
  .aboutus__advantages {
    flex-direction: column; }
    .aboutus__advantages__block {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100% !important;
      text-align: left;
      padding: 0 51px;
      margin-bottom: 20px; }
      .aboutus__advantages__block__title {
        margin-top: 0 !important;
        padding-left: 20px;
        padding-right: 20px; }
      .aboutus__advantages__block__substrate {
        margin: 0; }
      .aboutus__advantages__block:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right; }
  .feedback {
    height: 220px; }
    .feedback .button {
      min-width: 290px; }
    .feedback__text {
      font-size: 25px; }
  .services .button {
    min-width: 290px; }
  .news__block__image {
    height: 200px; }
    .news__block__image .button {
      min-width: 290px; }
  .page-404__services {
    display: block; }
  .page-404__left h1, .page-404__left h2, .page-404__right h1, .page-404__right h2 {
    text-align: center; }
  .page-404__left h1, .page-404__right h1 {
    font-size: 200px; }
  .page-404__left h2, .page-404__right h2 {
    font-size: 57px;
    display: inline-block; }
    .page-404__left h2 span, .page-404__right h2 span {
      font-size: 57px;
      display: inline-block; }
  .page-404 .search__404 {
    margin: 60px 0; }
  .company__content__footer {
    align-items: center; }
    .company__content__footer a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 130px;
      width: 130px;
      min-height: 60px;
      white-space: normal; }
  .company__header {
    padding: 0; }
  .company__table div {
    justify-content: space-between; }
    .company__table div span {
      width: 45%; }
    .company__table div p {
      width: 45%;
      text-align: right; }
  .popup__contact-us {
    width: 440px; }
  .popup__small {
    width: 440px; }
  .popup__small__header h2 br {
    display: none; } }

/*# sourceMappingURL=adaptive.css.map */