@media (max-width: 1000px) {
  .container {
    /*width:600px*/ } }
@media (max-width: 649px) {
  .container {
    /*width:400px*/ } }
@media (max-width: 479px) {
  .container {
    /*width:90%*/ } }
@media (max-width: 1230px) {
  .container {
    width: 655px; }

  .header {
    height: 160px; }
    .header .container {
      width: 750px; }
    .header__social {
      display: none; }
    .header__top__left__item__border:after {
      display: none; }
    .header__top__left__item + .header__top__left__item {
      margin-left: 30px; }
    .header__top .cols {
      text-align: center; }
    .header__bottom {
      text-align: center; }
      .header__bottom__logo {
        padding-top: 15px; }
      .header__bottom__banners {
        display: none; }
      .header__bottom__button-menu {
        display: block; }
      .header__bottom__button-search {
        display: block; }

  .menu {
    margin: 0; }
    .menu .container {
      width: 750px; }
    .menu__button {
      width: 150px;
      border: none; }
      .menu__button:hover {
        border: none;
        border-bottom: 5px solid #62a3da;
        background: #fff;
        box-shadow: none;
        color: #62a3da; }

  .filters__block {
    width: 100%; }
  .filters__select {
    width: 100%; }

  .aboutus__content__image {
    width: 100%;
    height: 340px;
    overflow: hidden; }
  .aboutus__content__text {
    width: 100%;
    margin-top: 20px; }
  .aboutus__content__text p {
    text-align: center; }

  .feedback {
    height: 230px; }
    .feedback__container {
      text-align: center;
      padding: 53px 0; }
    .feedback__text {
      display: block;
      margin-bottom: 33px; }

  .services__block {
    width: 100%; }
    .services__block__content {
      text-align: center; }
    .services__block + .services__block {
      margin-top: 30px; }

  .news__block {
    width: 100%; }
    .news__block + .news__block {
      margin-top: 30px; }
    .news__block img {
      height: 250px; }
    .news__block__image {
      height: 250px;
      overflow: hidden; }

  .page-404 {
    background: none; }
    .page-404__container {
      flex-direction: column;
      align-items: flex-start;
      color: #61a2da;
      text-align: center; }
    .page-404__left, .page-404__right {
      justify-content: center;
      width: 100%; }
      .page-404__left h1, .page-404__left h2, .page-404__right h1, .page-404__right h2 {
        text-align: center; }
      .page-404__left h2, .page-404__right h2 {
        font-size: 57px;
        display: inline-block; }
        .page-404__left h2 span, .page-404__right h2 span {
          font-size: 57px;
          display: inline-block; }
    .page-404__right {
      margin: 0; }

  .footer__container {
    justify-content: center;
    flex-direction: column; }
  .footer__topcol {
    width: 100%;
    justify-content: center; }
    .footer__topcol__right {
      margin-top: 35px;
      text-align: center; }
  .footer__map {
    overflow: hidden; }
    .footer__map img {
      width: 100%; }
  .footer__social {
    text-align: center; }
  .footer__bottom {
    padding: 60px 0; }
  .footer__menu {
    display: none; }
  .footer__bottomcol {
    width: 100%;
    justify-content: center;
    flex-direction: column; } }
@media (max-width: 769px) {
  .container {
    max-width: 450px; }

  .header .container {
    width: 480px; }
  .header .header__top__left__item:not(:first-child) {
    display: none; }

  .header__top .container {
    width: 480px; }

  .menu {
    display: none; }

  .page-404__services {
    display: block; }
  .page-404__left h1, .page-404__left h2, .page-404__right h1, .page-404__right h2 {
    text-align: center; }
  .page-404__left h1, .page-404__right h1 {
    font-size: 200px; }
  .page-404__left h2, .page-404__right h2 {
    font-size: 57px;
    display: inline-block; }
    .page-404__left h2 span, .page-404__right h2 span {
      font-size: 57px;
      display: inline-block; }
  .page-404 .search__404 {
    margin: 60px 0; } }

/*# sourceMappingURL=adaptive.css.map */
