@import "basics.scss";


$black: #363636;



*{
	 box-sizing: border-box
}

.cf:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


// section.header //
.header {
	height: 190px;
	background-color: #fff;
	border-bottom: 1px solid #dfe0e3;
	&-top{
		height: 50px;
		background-color: #eff0f2;
		border-bottom: 1px solid #dfe0e3;
		&-left{
			float: left;
			padding: 4px 0;
			&-date{
				display: inline-block;
				height: 40px;
				vertical-align: top;
				margin-right: 30px;
				padding: 11px 0;
				a{font-size: 14px;}
				&:before{
					content: "";
					background: url(../img/calendar.png) 0 0 no-repeat;
					width: 22px;
					height: 20px;
					display: inline-block;
					vertical-align: top;
					margin-right: 20px;
				}
			}
			&-tel{
				display: inline-block;
				height: 40px;
				vertical-align: top;
				margin-right: 30px;
				border-left: 1px solid #dfe0e3;
				&-inner{
					padding: 11px 0;
					a{font-size: 14px;}
					&:before{
						content: "";
						background: url(../img/phone.png) 0 0 no-repeat;
						width: 21px;
						height: 20px;
						display: inline-block;
						vertical-align: top;
						margin-right: 20px;
						margin-left: 30px;
					}
				}
			}
			&-email{
				display: inline-block;
				height: 40px;
				vertical-align: top;
				margin-right: 30px;
				padding: 11px 0;
				a{
					font-size: 14px;
				}
				&:before{
					content: "";
					background: url(../img/mail.png) 0 0 no-repeat;
					width: 21px;
					height: 16px;
					display: inline-block;
					vertical-align: top;
					margin-right: 20px;
				}
			}
		}
		&-right{
			padding: 10px 0;
			float: right;
			font-size: 0;
			&-social{
				display: inline-block;
				&-a{
					display: inline-block;
					width: 30px;
					height: 30px;
					margin-left:10px;
					&:first-child{
						margin-left: 0;
					}
					&:hover{
						opacity: .7;
					}
				}
				&-facebook{
					background: url(../img/facebook.png)  no-repeat; 
				}
				&-vk{
					background: url(../img/vk.png)  no-repeat; 
				}
				&-ok{
					background: url(../img/ok.png)  no-repeat; 
				}
				&-linkedin{
					background: url(../img/linkedin.png) no-repeat; 
				}
				&-youtube{
					background: url(../img/youtube.png) no-repeat; 
				}
			}	
		}	
	}
	&-bottom{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 140px;
		&-banner1{
			margin-left: 100px;
		}
	}
}

// section.menu //
.menu {
	height: 100px;
	padding: 30px 0;
	background-color: #fff;
	&-list{
		display: flex;
    	justify-content: space-between;	
	}
	&-item{
		font-family: 'OpenSansBold';
		text-transform: uppercase;
		color: $black;
		text-align: center;
		padding: 9px 0;
		display: block;
		font-size: 14px;
		font-weight: bold;
		width: 210px;
		height: 40px;
		border: 1px solid #dfe0e3;
		&:hover{
			background-color: #62a3da;
			color: #fff;
			border-color: #62a3da;
		}
	}
}

// section.slider //
.slider{
	//height: 500px;
}

// section.search //
.search{
	
}

// section.filters //
.filters{
	
}

// section.table //
.table{
	
}

// section.aboutus //
.aboutus{
	margin-top: 60px;
	&-title{
		text-align: center;
		font-family: 'OpenSansBold';
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 60px;
		color: $black;
	}
	&-content{
		display: flex;
		justify-content: space-between;
		&-preview{
			width: 570px;
		}
		&-text{
			width: 570px;
			margin-left: 30px;
		}
	}

}

// section.feedback //
.feedback{
	height: 100px;
	background: #5b7ab3 url(../img/feedback.png) center center no-repeat;
	margin-top: 60px;
	&-container{
		padding: 26px 0;
		display: flex;
    	justify-content: center;
	}
	&-text{
		display: inline-block;
		height: 50px;
		color: #fff;
		font-size: 30px; 
		text-transform: uppercase;
		margin-right: 100px;
	}
	&-button{
		display: inline-block;
		width: 170px;
		padding: 13px 22px;
		border: 2px solid #fff;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		&:hover{
			background-color: #62a3da;
			color: #fff;
			border-color: #62a3da;
		}
	}
}

// section.services //
.services{
	margin-top: 60px;
	&-title{
		text-align: center;
		font-family: 'OpenSansBold';
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	&-blocks{
		margin-bottom: 60px;
		display: flex;
    	justify-content: space-between;
	}
	&-block{
		position: relative;
		width: 370px;
		height: 390px;
		border: 1px solid #dfe0e3;
		&:hover &-title{
			background-color: #62a3da;
			color: #fff;
			border-color: #62a3da;
		}
		&-title{
			color: $black;
			font-family: 'OpenSansBold';
			font-size: 16px;
			text-transform: uppercase;
			
		padding: 20px 0;
		border-bottom: 1px solid #dfe0e3;
			text-align: center;
		}
		&-content{
			padding: 30px 30px 0 30px;
			font-size: 14px;
		}
		&-bottom{
			//margin-bottom: 30px;
			position: absolute;
			bottom: 30px;
			left: 50%;
			margin-left: -85px;
			&-callme{
				font-family: 'OpenSansBold';
				display: inline-block;
				width: 170px;
				padding: 13px 14px;
				border: 2px solid #dfe0e3;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				&:hover {
					background-color: #62a3da;
					color: #fff;
					border-color: #62a3da;
				}
			}
		}
	}
}

// section.news //
.news{
	&-title{
		text-align: center;
		font-family: 'OpenSansBold';
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
	&-blocks{
		margin-bottom: 60px;
		display: flex;
    	justify-content: space-between;
	}
	&-block{
		width: 370px;
		&-preview{
			margin-bottom: 30px;
		}
		&-title{
			font-family: 'OpenSansBold';
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&-text{
			margin-bottom: 35px;
		}
		&-readmore{
			font-size: 14px;
			color: #61a3da;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&-bottom{
		text-align: center;
		&-allnews{
			font-family: 'OpenSansBold';
			display: inline-block;
			width: 170px;
			padding: 13px 22px;
			border: 2px solid #dfe0e3;
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			&:hover{
				background-color: #62a3da;
				color: #fff;
				border-color: #62a3da;
			}
		}
	}
}

// footer //
.footer{
	
}






// Всплывающие окна и другие элементы сайта //
.popup {display:none; width: 350px; padding: 20px;}
// Всплывающие окна и другие элементы сайта //

@import "adaptive.scss";