@import "basics.scss";

$black: #363636;
$grey: #dfe0e3;
$blue: #62a3da;

@mixin hover {
    opacity: 1;
    transition:all .25s ease-in-out;
    &:hover{
        opacity: 0.7;
    }
}

*{
     box-sizing: border-box;
}


.section-title{
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 47px;
    color: $black;
}

.title-border{border-top: 1px solid $grey}

.button{
    min-width: 170px;
    min-height: 40px;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 11px;
    border: 2px solid $grey;
    color: $black;
    white-space: nowrap;
    &:hover{
        color: #fff;
        background-color: $blue;
        border: 2px solid $blue;
        box-shadow: 0px 2px 5px -2px $blue;
    }
}

.button-blue{background-color: $blue; border-color: $blue; color: #fff}

.social-media{
    li{
        display: inline-block;
        &+li{margin-left:10px}
        a{
            @include hover;
            display: block;
            width: 30px;
            height: 30px;
            background-size: cover;
        }
    }
    &__facebook {background: url(../img/facebook.svg) no-repeat}
    &__vk {background: url(../img/vk.png) no-repeat}
    &__ok {background: url(../img/ok.png) no-repeat}
    &__linkedin {background: url(../img/linkedin.png) no-repeat}
    &__youtube {background: url(../img/youtube.png) no-repeat}
}

input:focus{
    border: 1px solid $blue;
    box-shadow: 0px 0px 4px 0px $blue;
}

// section.header //
.header {
    height: 190px;
    background-color: #fff;
    border-bottom: 1px solid #dfe0e3;
    &__top{
        height: 50px;
        background-color: #eff0f2;
        border-bottom: 1px solid #dfe0e3;
        &__left{
            padding: 13px 0;
            &__item{
                &.cols>*{vertical-align: middle;}
                &+&{margin-left: 60px;}
                &:last-child{margin-left: 28px}
                a+a{margin-left: 11px;}
                img{margin-right: 21px;}
                a:hover{text-decoration: underline}
                position: relative;
                &__border{
                    &:after{
                        content: "";
                        position: absolute;
                        display: inline-block;
                        width: 0px;
                        height: 40px;
                        border-right: 1px solid $grey;
                        top: -9px;
                        right: -30px;
                    }
                }
            }
        }
        &__right{
            padding: 9px 0 9px;
        }
    }
    &__bottom{
        position: relative;
        &__logo{padding-top: 30px;}
        &__button-menu{
            display: none;
            position: absolute;
            left: 48px;
            top: 42px;
            width: 30px;
            height: 28px;
            background: url(../img/burger.svg) no-repeat;
        }
        &__button-search{
            display: none;
            position: absolute;
            right:48px;
            top: 40px;
            width: 30px;
            height: 30px;
            background: url(../img/search.svg) no-repeat;
        }
    }
    &__banner{
        position: relative;
        &:hover &__text{text-decoration: underline}
        &__text{
            font-family: 'MyriadProRegular';
            position: absolute;
            bottom: 29px;
            left: 30px;
            color: #fff;
            font-size: 20px;
            line-height: 1.2em;
            padding-right: 30px;
        }
    }
}

// section.menu //
.menu {
    margin-top: 30px;
    &__button{
        min-width: 210px;
        height: 40px;  // защита от сдвига из-за :hover
    }
}

// section.post //
.post{
    &__title{
        margin-bottom: 60px;
        height: 100px;
        background: url(../img/post-title.png) right  no-repeat, linear-gradient(to right, #61a3da, #513473);
        background-size: cover;
        h1{
            color: #fff;
            font-size: 30px; 
            text-transform: uppercase;
            font-weight: normal;
        }
    }
    &__container{
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content{
        &__text{
            padding-bottom: 30px;
            font-size: 14px;
            &>*{
                margin-top: 20px;
            }
            ul{
                list-style: disc;
                margin-left: 20px;
            }
        }
    }
    &__bottom{
        border-top: 1px solid $grey;
        padding-top: 14px;
        padding-bottom: 15px;
        text-align: right;
        p{
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        ul{
            display: inline-block;
            vertical-align: middle;
        }
    }
}


// section.slider //
.slider{
    max-height: 500px; 
}
.owl-carousel{
    position: relative;
    &__text{
        position: absolute;
        left: 60px;
        bottom: 60px;
        padding: 0 0 14px 17px;
        border-left: 5px solid $blue;
    }
    p{
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        margin-top: -5px;
        padding-right: 30px;
    }
}
.owl-controls{
    position: absolute;
    width: 85px;
    bottom: 20px;
    left: 50%;
    margin-left: -42px;            // выравнивание по центру -(width/2)
}
.owl-dot{
    transition: all .25s ease-in-out;
    width: 15px;
    height: 15px;
    background: transparent;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    &+&{
        margin-left: 20px;
    }
    &.active{
        background-color: #fff;
    }
}


// section.search //
.search{
    background-color: #eff0f2;
    height: 100px;
    &__form{
        margin-top: 30px;
        position: relative;    
    }
    &__input{
        font-size: 14px;
        height: 40px;
        width: 100%;
        border: 1px solid $grey;
        padding-left: 20px;
        padding-right: 40px;
    }
    &__button{
        border: 0;
        width: 15px;
        height: 15px;
        background: url(../img/search.png) no-repeat ;
        position: absolute;
        right: 13px;
        top: 12px;
    }
}

// section.filters //

.filters{
    background: url(../img/background.png) 50% 25% no-repeat;
    padding:30px 0 60px;
    &__block{
        position: relative;
        margin-bottom: 20px; 
        &:last-child{margin-bottom:0}
    }
    &__select{
        background-color: #fff;
        cursor: pointer;
        width: 370px;
        height: 40px;
        border: 1px solid $grey;
        padding: 9px 9px 9px 20px;
        &:hover ~ .filters__container {display: block}          //Временно
        &__title{
            font-size: 14px;
        }
        &__button{
            width: 20px;
            height: 20px;
            position: absolute;
            right: 9px;
            top: 10px;
            background: url(../img/filters-button.png) no-repeat;
        } 
    }
    &__container{                   //по умолчанию скрыт
        position: absolute;
        top: 40px;
        left: 0px;
        display: none;
        width: 370px;     
        margin-top: -1px;           //скрытие верхней границы спиcка
        border: 1px solid #d5daea;
        background-color: #fff;
        z-index: 99;
        font-size: 14px;
        padding-bottom: 40px;
        box-shadow: 0px 10px 15px 0px $grey;
        &:hover {display: block}
        &__input{
            padding: 19px;
            border-bottom: 1px solid $grey;
            input{
                height: 30px;
                width: 100%;
                border: 1px solid $grey;
                padding: 0 10px;
                font-size: 13px;
            }
        }
        &__list{
            max-height: 400px;
            overflow-y: auto;
            p{
                font-size: 12px;
                color: #9e9e9e;
                padding-left: 18px;
                padding-top: 10px;
            }
            li{
                &:first-child > a {margin-top: 5px}
                &:last-child > a {margin-bottom: 5px}
                ul.year{
                    display: none;
                    position: absolute;
                    width:200px;
                    right: 0;
                    top:0;
                    background-color: #fff;
                    border-left: 1px solid $grey;
                    z-index:9;
                    &:hover {display: block};
                }
            }
            a{
                display: block;
                padding: 4px 0 4px 18px;
                &:hover{
                    background-color: $blue;
                    color: #fff;
                    & ~ .year {display: block}
                }
            }
        }
        &__bottom{
            position: absolute;
            bottom: 0;
            width: 100%;
            a{
                display: block;
                padding: 10px 0 10px 18px;
                border-top: 1px solid $grey;
                background-color: #fff;
                &:hover{
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
    &__show-button{
        text-align: center;
        margin-top: 10px;
    }
}

// section.table //
.table{
    
}

// section.aboutus //
.aboutus{
    padding-bottom: 55px;
    background: url(../img/background.png) 45% -83% no-repeat;
    padding-top: 60px;
    border-top: 1px solid $grey;
    &__title{width: 100%}
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 60px;
        &__image{
            position: relative;
            overflow: hidden;
            img{
                position: absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:0; min-width:100%; min-height:100%; object-fit:cover;
            }
            .img-2{display: none}
        }
        &__text{
            p{
                text-align: left;
                font-size: 14px;
                line-height: 1.76;
                &:first-child{
                    margin-top: -6px;
                }
            }
            p+p {margin-top: 25px}
        }
    }
    &__advantages{
        display: flex;
        justify-content: space-between;
        &__block{
            text-align: center;
            &__substrate{
                width: 120px;
                height: 120px;
                background-color: #dfe0e3;
                border-radius: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__title{
                margin-top: 23px;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 1.2em;
            }
        }
    }
}

// section.feedback //
.feedback{
    min-height: 100px;
    background: url(../img/feedback.png) no-repeat, linear-gradient(to right, #61a3da, #513473);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        display: flex;
    }
    &__text{
        color: #fff;
        font-size: 30px; 
        text-transform: uppercase;
        text-align: center;
        padding: 0 10px;
    }
    &__button{
        color: #fff;
        background: transparent;
        margin-left: 90px;
    }
}

// section.services //
.services{
    background: url(../img/background.png) 44% 194% no-repeat;
    padding-top: 54px;
    &__title{margin-bottom: 58px;}
    &__blocks{
        margin-bottom: 60px;
    }
    &__block{
        &>*{text-align: left} //убрать наследование justify от .cols
        position: relative;
        width: 370px;
        min-height: 390px;
        border: 1px solid #dfe0e3;
        background-color: #fff;
        &:hover &__title{
            background-color: $blue;
            color: #fff;
            border-color: $blue;
        }
        &__title{
            color: $black;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            padding: 20px 0;
            border-bottom: 1px solid #dfe0e3;
            text-align: center;
            transition:all .25s ease-in-out;
        }
        &__content{
            padding: 22px 30px 90px 30px;
            font-size: 14px;
            line-height:1.9em;
            a{
                color: $blue;
                &:hover{
                text-decoration: underline;
                }
            }
        }
        &__bottom{
            width: 100%;
            position: absolute;
            bottom: 29px;
            left: 0;
            text-align: center;
        }
    }
}

// section.news //
.news{
    margin-bottom: 60px;
    &__title{padding-top: 54px;margin-bottom: 57px;}
    &__blocks{
        margin-bottom: 65px;
    }
    &__block{
        &>*{text-align: left}               //убрать наследование justify от .cols
        &__image{
            overflow: hidden;
            height: 200px;
            margin-bottom: 27px;
            img{width:0; min-width:100%; min-height:100%; object-fit:cover;}  ///
        }
        &__title{
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 22px;
            letter-spacing: .2px;
        }
        &__text{
            margin-bottom: 25px;
            line-height: 1.75em;
        }
        &__readmore{
            font-size: 14px;
            color: #61a3da;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__bottom{
        text-align: center;
    }   
    
}

// section.news //
.news-page{
    &__container{
        flex-flow: row wrap;
        display: flex;
        justify-content: space-between;
    }
    .news__block{
        margin-top: 60px;
    }
    &__feedback{
        margin-bottom: 60px;
        margin-top: 75px;
    }
    &__pagination{
        text-align: center;
        margin-top: 60px;
        a{
            padding: 10px 15px;
            margin-left: 10px;
            font-size: 14px;
            border: 1px solid $grey;
            &:hover{
                background: $blue;
                color: #fff;
            }
        }
    }
}

// footer //
.footer{
	background: #323335;
    padding-top: 60px;
    &__container{
        display: flex;
        justify-content: space-between;
        flex-direction: row
    }

    &__topcol{
        width: 45%;
        width: calc(50% - 15px);
    }

    &__map{
        height: 240px;
    }

    &__contacts {
        margin-top: 25px;

        & li{
            margin-bottom: 25px;
            color: #878787;
        }

        & p{
            display: flex;
            align-items: center;
        }

        & img{
            margin-right: 25px;
        }
    }
    &__form{
        & input, textarea{
            margin-bottom: 30px;
            width: 100%;
            padding: 13px 20px;
        }

        & textarea{
            height: 150px;
            resize:none;
        }

        & button[type="submit"]{
            background: $blue;
            border: none;
            color: #fff;
            @include hover
        }
    }

    a{
        @include hover;
    }

    &__bottom{
        background: #252526;
        margin-top: 60px;
        padding: 13px 0;
        color: #5f5f5f;
    }

    &__bottom-row, &__bottomcol{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bottomcol{
        width: 480px;
        flex-direction: row;
    }

    &__agency{
        display: flex;
        align-items: center;
        p{
            margin-left: 10px;
        }
    }

    &__menu li{
        display: inline-block;
        margin-left: 60px;
        a{
            font-size: 14px;
        }
    }
}

// section.sell //

.sell{
    &__header{
        padding: 0px 100px;
        margin-top: 20px;
        h2{
            font-size: 18px;
            font-weight: bold;
            color: #363636;
        }
        span{
            border-left: 5px solid #eff0f2;
            display: block;
            padding: 15px 20px 10px 20px;
        }
        p{
            font-size: 12px;
            color: #989898;
            margin-top: 10px;
            line-height:1.2em;
        }
    }
    .container{
        margin-bottom: 60px;
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        &__send{
            text-align: center;
            button{
                background: $blue;
                border: none;
                color:#fff;
                :hover{
                    border: none;
                }
            }
        }
        &__tab-nav{
            display: none;
        }
    }
    &__form__col{
        display: flex;
        flex-direction: column;
        width: calc(50% - 15px);
        & input{
            margin-bottom: 30px;
            padding: 13px 20px;
            border: 1px solid $grey;
        }
    }
    &__feedback{
        margin-bottom: 60px;
    }
}

// section.sell //
.popup-contactus{
    width: 530px;
}

//Заголовки на страницах
.page-title{
     background: linear-gradient(to right, #61a3da 30%, #513372 70%);
     text-align: center;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     & p{
         font-size: 30px;
         color: #fff;
         padding: 35px 0px;
         text-transform: uppercase;
         position: absolute;
     }
     &__left-img {
         background: url(../img/page-header-left.png) no-repeat;
         height: 100%;
         width: 50%;
         background-position: left center;
 //        background-size: 50%;

     }
     &__right-img{
         background: url(../img/page-header-right.png) no-repeat;
         height: 100%;
         width: 50%;
         background-position: right center;
     }
 }

.pop-up-title{
    height: 60px;
}

// section.page-404 //

.page-404{
    &__services{
        display: none;
    }
    margin-top: 70px;
    background: url(../img/background.png) 45% 10% no-repeat;
    line-height:1.2em;
    &__container{
        display: flex;
        justify-content: center;
        color: #596da8;
        flex-wrap: nowrap;
        align-items: center;
        font-family: 'OpenSansBold';
    }
    &__left{
        display: flex;
        h1{
            font-size: 320px;
        }
    }
    &__right{
        display: flex;
        margin-left: 45px;
        flex-direction: row;
        flex-wrap: wrap;

        h2{
            font-size: 100px;
            margin-left: -10px;
            span{
                font-size: 72px;
                margin: -10px 0 0 5px;
                display: block;
            }
        }
        p{
            margin-top: 20px;
            font-size: 16px;
            line-height:24.47px;
            a{
                text-decoration: underline;
            }
        }
    }
}

.search__404{
    background: transparent;
    margin-bottom: 150px;
    margin-top: 0px;
}

.bg__404{
    background: url(../img/bg.png)no-repeat;
    background-size: contain;
    background-position: bottom;
}

// section.company //
.company{
    &__filters{
        margin-top: 30px;
    }
    &__content{
        &__footer{
            margin-top: 40px;
            a{
                margin-left: 30px;
                margin-bottom: 40px;
            }
        }
    }
    &__header{
        padding: 0px 100px;
        margin-top: 20px;
        h2{
            font-size: 18px;
            font-weight: bold;
            color: #363636;
        }
        span{
            border-left: 5px solid #eff0f2;
            display: block;
            padding: 15px 20px 10px 20px;
        }
        p{
            font-size: 12px;
            color: #989898;
            margin-top: 10px;
            line-height:1.2em;
        }
    }
    &__table{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: #363636;
        div{
            &:nth-child(2n+1){
                background: #eff0f2;
            }
            span{
                line-height: 1.7em;
                font-weight: bold;
                width: 350px;
            }
            display: flex;
            padding: 10px 30px;
            font-size: 14px;
        }
    }
}

// Всплывающие окна и другие элементы сайта //
.popup {display:none; width: 350px; padding: 20px;}
// Всплывающие окна и другие элементы сайта //

@import "adaptive.scss";
