@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');



@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
}


@font-face {
    font-family: 'MyriadProRegular';
    src: url('MyriadProRegular/MyriadProRegular.eot');
    src: url('MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
         url('MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}
