@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular/OpenSansRegular.eot');
    src: url('OpenSansRegular/OpenSansRegular.eot') format('embedded-opentype'),
         url('OpenSansRegular/OpenSansRegular.woff2') format('woff2'),
         url('OpenSansRegular/OpenSansRegular.woff') format('woff'),
         url('OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
         url('OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSansBold/OpenSansBold.eot');
    src: url('OpenSansBold/OpenSansBold.eot') format('embedded-opentype'),
         url('OpenSansBold/OpenSansBold.woff2') format('woff2'),
         url('OpenSansBold/OpenSansBold.woff') format('woff'),
         url('OpenSansBold/OpenSansBold.ttf') format('truetype'),
         url('OpenSansBold/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('MyriadProRegular/MyriadProRegular.eot');
    src: url('MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
         url('MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}
